<%- include('../includes/index_header.ejs') %>

    <!-- STATISTIC-->
    <section class="statistic statistic2">
        <div class="container" id="ContainerData">
            <div class="row">
                <div id="Container" style="overflow:hidden; width: 100%; height: 373;">
                    <iframe width="100%" height="373.5"
                        src= <%= user.chart2 %>
                        frameborder="0" allowFullScreen="false"></iframe>
                </div>
            </div>
        </div>
    </section>
    <!-- END STATISTIC-->

    <!-- STATISTIC CHART-->
    <section class="statistic-chart">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">Analysis</h3>
                </div>
            </div>
            <div class="row">

                <div id="Container" style="overflow:hidden; width: 100%; height: 373;">
                    <iframe width="100%" height="373.5"
                        src= <%= user.chart1 %>
                        frameborder="0" allowFullScreen="false"></iframe>
                </div>

            </div>
        </div>
    </section>

    <!-- END STATISTIC CHART-->

    <center>
        <a href="/chart">
            <button class="au-btn au-btn-icon au-btn--green au-btn--small"> more analysis</button>
        </a>
    </center>

    <!-- DATA TABLE-->
    <section class="p-t-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">data table</h3>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div class="rs-select2--light rs-select2--md">
                                <select class="js-select2" name="property" onchange="myFunctionC(this.selectedIndex);">
                                    <option selected="all">All</option>
                                    <option value="retrieved_from">PLASTICS RETRIEVED FROM</option>
                                    <option value="size">PLASTIC SIZE</option>
                                    <option value="tonnage">TONNAGE</option>
                                    <option value="product">PRODUCT</option>
                                    <option value="volume">VOLUME OF PLASTICS (PCS)</option>
                                    <option value="initial">INITIAL CONTENT</option>
                                    <option value="manufactures">MANUFACTURERS</option>

                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            <div class="rs-select2--light rs-select2--sm">
                                <input style="padding: 7px;" type="date" name="dateFilter" id="dateFilter">
                            </div> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;


                            <button class="au-btn-filter" id="filterBtn" onclick="myClickFunction();"><i
                                    class="zmdi zmdi-filter-list"></i>filters</button>
                        </div>
                        <div class="table-data__tool-right">
                            <a href="/add"><button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    <i class="zmdi zmdi-plus"></i>add plastic</button></a>
                            <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                <select class="js-select2" name="type" onchange="myFunctionExport(this.selectedIndex);">
                                    <option selected="selected">Export</option>
                                    <option value="csv">CSV</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END DATA TABLE-->
    <%- include('../includes/index_footer.ejs') %>