<%- include('../includes/header.ejs') %
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div id="Container"
                            style="padding-bottom:56.25%; position:relative; display:block; width: 100%">
                            <iframe id="ViostreamIframe" width="100%" height="100%" src="https://publish.viostream.com/player/iframe/s0m3m3d14?playerKey=s0m3p14y3r" frameborder="0" allowfullscreen="" style="position:absolute; top:0; left: 0"></iframe>
                       </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end document-->
            <%- include('../includes/footer.ejs') %>