<%- include('../includes/header.ejs') %>

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">Add data</div>
                            <div class="card-body">
                                <div class="card-title">
                                    <h3 class="text-center title-2">DATA CAPTURING FOR LOGISTICS</h3>
                                </div>
                                <hr>
                                <form action="/add" method="post">

                                    <div class="form-group">
                                        <label for="consignor" class="control-label mb-1">Consignor</label>
                                        <input id="consignor" name="consignor" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                    </div>

                                    <div class="form-group">
                                        <label for="phone no" class="control-label mb-1">Phone No</label>
                                        <input id="phone_no" name="phone_number" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                    </div>

                                    <div class="form-group">
                                        <label for="delivery item" class="control-label mb-1">Item to be delivered</label>
                                        <input id="delivery_item" name="itemToBeDelivered" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                    </div>

                                    <div class="form-group">
                                        <label for="date of order" class="control-label mb-1">Date of order</label>
                                        <input id="date_of_order" name="dateOfOrder" type="date" class="form-control" aria-required="true" aria-invalid="false">
                                    </div>

                                    <div class="form-group">
                                        <label for="pickup street" class="control-label mb-1">Pickup Street</label>
                                        <input id="pickup_street" name="pickupaddress_str" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                    </div>

                                    <div class="form-group">
                                        <label for="pickup area" class="control-label mb-1">Pickup Area</label>
                                        <input id="pickup_area" name="pickupaddress_area" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                    </div>

                                    <div class="form-group">
                                        <label for="pickup time" class="control-label mb-1">Pickup Time</label>
                                        <input id="pickup_time" name="pickup_time" type="time" class="form-control" aria-required="true" aria-invalid="false">
                                    </div>

                                    <div class="form-group">
                                        <label for="consignor" class="control-label mb-1">Consignee</label>
                                        <input id="consignor" name="consignee" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                    </div>

                                    <div class="form-group">
                                        <label for="phone no" class="control-label mb-1">Phone No</label>
                                        <input id="phone_no" name="c_phone_number" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                    </div>

                                    <div class="form-group">
                                        <label for="delivery street" class="control-label mb-1">Delivery Street</label>
                                        <input id="delivery_street" name="c_deliveryAddress_str" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                    </div>

                                    <div class="form-group">
                                        <label for="delivery area" class="control-label mb-1">Delivery Area</label>
                                        <input id="delivery_area" name="c_deliveryAddress_area" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                    </div>

                                    <div class="form-group">
                                        <label for="delivery time" class="control-label mb-1">Delivery Time</label>
                                        <input id="delivery_time" name="c_deliveryTime" type="time" class="form-control" aria-required="true" aria-invalid="false">
                                    </div>

                                    <div class="form-group">
                                        <label for="payment method" class="control-label mb-1">Payment Method</label>
                                        <input id="payment_method" name="mode_of_pay" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                    </div>

                                    <div class="form-group">
                                        <label for="rider" class="control-label mb-1">Rider</label>
                                        <input id="rider" name="rider" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                    </div>

                                    <div class="form-group">
                                        <label for="amount paid" class="control-label mb-1">Amount Paid</label>
                                        <input id="amount_paid" name="amount_paid" type="text" pattern="[0-9,.]*" class="form-control" aria-required="true" aria-invalid="false">
                                    </div>

                                    <div class="form-group">
                                        <label for="payment status" class="control-label mb-1">Payment Status</label>
                                        <input id="payment_status" name="payment_status" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                    </div>

                                    <div class="form-group">
                                        <label for="status" class="control-label mb-1">Status</label>
                                        <input id="staus" name="status" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                    </div>

                                    <div>
                                        <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                                <span id="payment-button-amount">Add data</span>
                                                <span id="payment-button-sending" style="display:none;">Sending…</span> </button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>Copyright © 2022. All rights reserved. <a href="https://dechconsult.com">Dech Consult Limited</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.getElementById("amount_paid").onblur = function () {
            this.value = parseFloat(this.value.replace(/,/g, ""))
                .toFixed(2)
                .toString()
                .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
    </script>
    <%- include('../includes/footer.ejs') %>