<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>Fort Hermon - Data Tracking</title>
</head>

<body class="bg-light">

    <div class="container">
        <div class="row">
            <div class="table-responsive">

                <table class="table table-hover mt-5 table-bordered">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Gate Pass</th>
                            <th scope="col">Gate Pass Refence No</th>
                            <th scope="col">Truck Existing</th>
                            <th scope="col">Supplier</th>
                            <th scope="col">Truck Plate Number</th>
                            <th scope="col">Description</th>
                            <th scope="col">Time In</th>
                            <th scope="col">Time Out</th>
                            <th scope="col">Prepared by</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% fort.forEach((e)=> { %>
                            <tr>
                                <th scope="row">1</th>
                                <td><%= e.id %></td>
                                <td>---------</td>
                                <td>---------</td>
                                <td>---------</td>
                                <td>---------</td>
                                <td>---------</td>
                                <td>---------</td>
                                <td>---------</td>
                                <td>---------</td>
                                <td>---------</td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>