</div>
<!-- END PAGE CONTAINER-->

</div>

<!-- Jquery JS-->
<script src="vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="vendor/bootstrap-4.1/popper.min.js"></script>
<script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="vendor/slick/slick.min.js">
</script>
<script src="vendor/wow/wow.min.js"></script>
<script src="vendor/animsition/animsition.min.js"></script>
<script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="vendor/circle-progress/circle-progress.min.js"></script>
<script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="vendor/select2/select2.min.js">
</script>

<!-- Main JS-->
<% if (user.trade === 'Commodity') { %>
    <!-- <%- include('../includes/header.ejs') %> <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <% if(user.chart3 !== '' && user.chart3 !== null) { %>
                <div id="Container" style="padding-bottom:56.25%; position:relative; display:block; width: 100%">
                    <iframe id="ViostreamIframe" width="100%" height="100%"
                        src= <%= user.chart3 %>
                        frameborder="0" allowfullscreen="" style="position:absolute; top:0; left: 0"></iframe>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <!-- end document-->
    <%- include('../includes/footer.ejs') %>
    <script src="js/commodity.js"></script> -->
<% }else {%>

<% } %>
</body>

</html>
<!-- end document-->