<%- include('./include/header.ejs') %>

<div class="main-container">
    <div class="xs-pd-20-10 pd-ltr-20">
        <div class="card-box pd-20 height-100-p mb-30">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <img src="vendors/images/banner-img.png" alt=""/>
                </div>
                <div class="col-md-8">
                    <h4 class="font-20 weight-500 mb-10 text-capitalize">
                        Welcome back
                        <div class="weight-600 font-30 text-blue"><%= user.contact_person %></div>
                    </h4>
                    <p class="font-18 max-width-600">
                        This platform helps you easily record your audit findings, ensuring your inputs are saved.
                                    Good luck!
                    </p>
                </div>
            </div>
        </div>
        <div class="title pb-20">
            <h2 class="h3 mb-0">Auditors Overview</h2>
        </div>

        <div class="row pb-10">
            <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                <div class="card-box height-100-p widget-style3">
                    <div class="d-flex flex-wrap">
                        <div class="widget-data">
                            <div class="weight-700 font-24 text-dark">75</div>
                            <div class="font-14 text-secondary weight-500">
                                Banks Audited</div>
                        </div>
                        <div class="widget-icon">
                            <div class="icon" data-color="#00eccf">
                                <i class=""></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                <div class="card-box height-100-p widget-style3">
                    <div class="d-flex flex-wrap">
                        <div class="widget-data">
                            <div class="weight-700 font-24 text-dark">124,551</div>
                            <div class="font-14 text-secondary weight-500">
                                Completed Audit Report</div>
                        </div>
                        <div class="widget-icon">
                            <div class="icon" data-color="#ff5b5b">
                                <span class=""></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                <div class="card-box height-100-p widget-style3">
                    <div class="d-flex flex-wrap">
                        <div class="widget-data">
                            <div class="weight-700 font-24 text-dark">400</div>
                            <div class="font-14 text-secondary weight-500">
                                Assigned Banks
                            </div>
                        </div>
                        <div class="widget-icon">
                            <div class="icon">
                                <i class="" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
                <div class="card-box height-100-p widget-style3">
                    <div class="d-flex flex-wrap">
                        <div class="widget-data">
                            <div class="weight-700 font-24 text-dark">5000</div>
                            <div class="font-14 text-secondary weight-500">Audit progress
                            </div>
                        </div>
                        <div class="widget-icon">
                            <div class="icon" data-color="#09cc06">
                                <i class="" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4 col-md-6 mb-20">
                <div class="card-box height-100-p pd-20 min-height-200px">
                    <div class="d-flex justify-content-between pb-10">
                        <div class="h5 mb-0">Report</div>
                        <div class="dropdown">
                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" data-color="#1b3133" href="#" role="button" data-toggle="dropdown">
                                <i class="dw dw-more"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                <a class="dropdown-item" href="#">
                                    <i class="dw dw-eye"></i>
                                    View</a>
                                <a class="dropdown-item" href="#">
                                    <i class="dw dw-edit2"></i>
                                    Edit</a>
                                <a class="dropdown-item" href="#">
                                    <i class="dw dw-delete-3"></i>
                                    Delete</a>
                            </div>
                        </div>
                    </div>

                    <!-- contents here -->

                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-20">
                <div class="card-box height-100-p pd-20 min-height-200px">
                    <div class="d-flex justify-content-between">
                        <div class="h5 mb-0">Report</div>
                        <div class="dropdown">
                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" data-color="#1b3133" href="#" role="button" data-toggle="dropdown">
                                <i class="dw dw-more"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                <a class="dropdown-item" href="#">
                                    <i class="dw dw-eye"></i>
                                    View</a>
                                <a class="dropdown-item" href="#">
                                    <i class="dw dw-edit2"></i>
                                    Edit</a>
                                <a class="dropdown-item" href="#">
                                    <i class="dw dw-delete-3"></i>
                                    Delete</a>
                            </div>
                        </div>
                    </div>

                    <!-- contents here -->


                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-20">
                <div class="card-box height-100-p pd-20 min-height-200px">
                    <div class="d-flex justify-content-between">
                        <div class="h5 mb-0">
                            Report</div>
                        <div class="dropdown">
                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" data-color="#1b3133" href="#" role="button" data-toggle="dropdown">
                                <i class="dw dw-more"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                <a class="dropdown-item" href="#">
                                    <i class="dw dw-eye"></i>
                                    View</a>
                                <a class="dropdown-item" href="#">
                                    <i class="dw dw-edit2"></i>
                                    Edit</a>
                                <a class="dropdown-item" href="#">
                                    <i class="dw dw-delete-3"></i>
                                    Delete</a>
                            </div>
                        </div>
                    </div>

                    <!-- contents here -->
                </div>
            </div>
        </div>

        <div class="card-box pb-10">
            <div class="h5 pd-20 mb-0">Audit Table</div>
            <table class="data-table table nowrap">
                <thead>
                    <tr>
                        <th class="table-plus">Date of bank audit</th>
                        <th>
                            Name of bank</th>
                        <th>
                            Branch location</th>
                        <th>Time of audit report submitted</th>
                        <th>Time of audit completed</th>
                        <th class="datatable-nosort">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < bank_audit.length - 1; i ++) { %>
                    <tr>
                        <td>22 Jul 2020</td>
                        <td>Palaris Bank</td>
                        <td>Ikeja Lagos</td>
                        <td>15</td>
                        <td>5</td>

                        <td>
                            <div class="table-actions">
                                <a href="#" data-color="#265ed7">
                                    <i class="icon-copy dw dw-edit2"></i>
                                </a>
                                <a href="#" data-color="#e95959">
                                    <i class="icon-copy dw dw dw-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>22 Jul 2020</td>
                        <td>Palaris Bank</td>
                        <td>Ikeja Lagos</td>
                        <td>15</td>
                        <td>5</td>

                        <td>
                            <div class="table-actions">
                                <a href="#" data-color="#265ed7">
                                    <i class="icon-copy dw dw-edit2"></i>
                                </a>
                                <a href="#" data-color="#e95959">
                                    <i class="icon-copy dw dw dw-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>22 Jul 2020</td>
                        <td>Palaris Bank</td>
                        <td>Ikeja Lagos</td>
                        <td>15</td>
                        <td>5</td>

                        <td>
                            <div class="table-actions">
                                <a href="#" data-color="#265ed7">
                                    <i class="icon-copy dw dw-edit2"></i>
                                </a>
                                <a href="#" data-color="#e95959">
                                    <i class="icon-copy dw dw dw-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>22 Jul 2020</td>
                        <td>Palaris Bank</td>
                        <td>Ikeja Lagos</td>
                        <td>15</td>
                        <td>5</td>

                        <td>
                            <div class="table-actions">
                                <a href="#" data-color="#265ed7">
                                    <i class="icon-copy dw dw-edit2"></i>
                                </a>
                                <a href="#" data-color="#e95959">
                                    <i class="icon-copy dw dw dw-eye"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="title pb-20 pt-20">
            <h2 class="h3 mb-0"></h2>
        </div>
        <div class="footer-wrap pd-20 mb-20 card-box">
            Auditor | copyright - 2023
            <a href="https://github.com/dropways" target="_blank">dech</a>
        </div>
    </div>
</div>

<!-- js -->
<script src="vendors/scripts/core.js"></script>
<script src="vendors/scripts/script.min.js"></script>
<script src="vendors/scripts/process.js"></script>
<script src="vendors/scripts/layout-settings.js"></script>
<script src="src/plugins/apexcharts/apexcharts.min.js"></script>
<script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
<script src="src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
<script src="vendors/scripts/dashboard3.js"></script>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS" height="0" width="0" style="display: none; visibility: hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<script>
    window.addEventListener("load", function () {
        localStorage.setItem("formRequestPayload", '{}');
    })
</script></body></html>
