<!DOCTYPE html>
<html>

<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8" />
	<title>Audith - Bank Safety Audit Portal</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="vendors/images/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="vendors/images/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="vendors/images/favicon-16x16.png" />

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
		rel="stylesheet" />
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="vendors/styles/core.css" />
	<link rel="stylesheet" type="text/css" href="vendors/styles/icon-font.min.css" />
	<link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/dataTables.bootstrap4.min.css" />
	<link rel="stylesheet" type="text/css" href="src/plugins/datatables/css/responsive.bootstrap4.min.css" />
	<link rel="stylesheet" type="text/css" href="vendors/styles/style.css" />

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"></script>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2973766580778258"
		crossorigin="anonymous"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-GBZ3SGGX85");
	</script>
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != "dataLayer" ? "&l=" + l : "";
			j.async = true;
			j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, "script", "dataLayer", "GTM-NXZMQSS");
	</script>
	<!-- End Google Tag Manager -->
</head>

<body>
	<div class="pre-loader">
		<div class="pre-loader-box">
			<div class="loader-logo">
				<img src="vendors/images/deskapp-logo.svg" alt="" />
			</div>
			<div class="loader-progress" id="progress_div">
				<div class="bar" id="bar1"></div>
			</div>
			<div class="percent" id="percent1">0%</div>
			<div class="loading-text">Loading...</div>
		</div>
	</div>

	<div class="header">
		<div class="header-left">
			<div class="menu-icon bi bi-list"></div>
			<div class="search-toggle-icon bi bi-search" data-toggle="header_search"></div>
			<div class="header-search">
				<form>
					<div class="form-group mb-0">
						<i class="dw dw-search2 search-icon"></i>
						<input type="text" class="form-control search-input" placeholder="Search Here" />
						<div class="dropdown">
							<a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
								<i class="ion-arrow-down-c"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="form-group row">
									<label class="col-sm-12 col-md-2 col-form-label">From</label>
									<div class="col-sm-12 col-md-10">
										<input class="form-control form-control-sm form-control-line" type="text" />
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-12 col-md-2 col-form-label">To</label>
									<div class="col-sm-12 col-md-10">
										<input class="form-control form-control-sm form-control-line" type="text" />
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-12 col-md-2 col-form-label">Subject</label>
									<div class="col-sm-12 col-md-10">
										<input class="form-control form-control-sm form-control-line" type="text" />
									</div>
								</div>
								<div class="text-right">
									<button class="btn btn-primary">Search</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="header-right">
			
			<div class="user-notification">
				<div class="dropdown">
					<a class="dropdown-toggle no-arrow" href="#" role="button" data-toggle="dropdown">
						<i class="icon-copy dw dw-notification"></i>
						<span class="badge notification-active"></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<div class="notification-list mx-h-350 customscroll">
							<ul>
								<li>
									<a href="#">
										<img src="vendors/images/img.jpg" alt="" />
										<h3>John Doe</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing
											elit, sed...
										</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="vendors/images/photo1.jpg" alt="" />
										<h3>Lea R. Frith</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing
											elit, sed...
										</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="vendors/images/photo2.jpg" alt="" />
										<h3>Erik L. Richards</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing
											elit, sed...
										</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="vendors/images/photo3.jpg" alt="" />
										<h3>John Doe</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing
											elit, sed...
										</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="vendors/images/photo4.jpg" alt="" />
										<h3>Renee I. Hansen</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing
											elit, sed...
										</p>
									</a>
								</li>
								<li>
									<a href="#">
										<img src="vendors/images/img.jpg" alt="" />
										<h3>Vicki M. Coleman</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipisicing
											elit, sed...
										</p>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="user-info-dropdown">
				<div class="dropdown">
					<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						<span class="user-icon">
							<img src="vendors/images/photo1.jpg" alt="" />
						</span>
						<span class="user-name">Ross C. Lopez</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
						<a class="dropdown-item" href="profile.html"><i class="dw dw-user1"></i> Profile</a>
						<a class="dropdown-item" href="profile.html"><i class="dw dw-settings2"></i> Setting</a>
						<a class="dropdown-item" href="faq.html"><i class="dw dw-help"></i> Help</a>
						<a class="dropdown-item" href="login.html"><i class="dw dw-logout"></i> Log Out</a>
					</div>
				</div>
			</div>

		</div>
	</div>

	 
	<div class="left-side-bar">
		<div class="brand-logo">
			<a href="index.html">
				<img src="vendors/images/deskapp-logo.svg" alt="" class="dark-logo" />
				<img src="vendors/images/deskapp-logo-white.svg" alt="" class="light-logo" />
			</a>
			<div class="close-sidebar" data-toggle="left-sidebar-close">
				<i class="ion-close-round"></i>
			</div>
		</div>
		<div class="menu-block customscroll">
			<div class="sidebar-menu">
				<ul id="accordion-menu">
					<li>
						<a href="index.html" class="dropdown-toggle no-arrow">
							<span class="micon bi bi-house"></span><span class="mtext">Dashboard</span>
						</a>
					</li>

					<li>
						<a href="introduction.html" class="dropdown-toggle no-arrow">
							<span class="micon bi bi-user"></span><span class="mtext">Introduction</span>
						</a>
					</li>

					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon bi bi-textarea-resize"></span><span class="mtext">Sections</span>
						</a>
						<ul class="submenu">
							<li><a href="section1.html">Section 1</a></li>
							<li><a href="section2.html">Section 2</a></li>
							<li><a href="section3.html">Section 3</a></li>
							<li><a href="section4.html">Section 4</a></li>
							<li><a href="section5.html">Section 5</a></li>
							<li><a href="section6.html">Section 6</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon bi bi-table"></span><span class="mtext">Tables</span>
						</a>
						<ul class="submenu">
							<li><a href="sectionTable1.html">Section 1</a></li>
							<li><a href="sectionTable2.html">Section 2</a></li>
							<li><a href="sectionTable3.html">Section 3</a></li>
							<li><a href="sectionTable4.html">Section 4</a></li>
							<li><a href="sectionTable5.html">Section 5</a></li>
							<li><a href="sectionTable6.html">Section 6</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon bi bi-pie-chart"></span><span class="mtext">Charts</span>
						</a>
						<ul class="submenu">
							<li><a href="sectionChart1.html">Section 1</a></li>
							<li><a href="sectionChart2.html">Section 2</a></li>
							<li><a href="sectionChart3.html">Section 3</a></li>
							<li><a href="sectionChart4.html">Section 4</a></li>
							<li><a href="sectionChart5.html">Section 5</a></li>
							<li><a href="sectionChart6.html">Section 6</a></li>
						</ul>
					</li>
					
					<li>
						<div class="dropdown-divider"></div>
					</li>
					
					
					
				</ul>
			</div>
		</div>
	</div>
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="xs-pd-20-10 pd-ltr-20">
            <div class="title pb-20 pt-20">
                <h2 class="h3 mb-0"> Administration and Procedure </h2>
            </div>
			
			<!-- horizontal Basic Forms Start -->
			<div class="pd-20 card-box mb-30">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="text-blue h4">Section 1</h4>
						<p class="mb-30">Part 1: Management Review</p>
					</div>
					 
				</div>
				<form id="Management_Review" class="Administration_Procedure">
					<div class="form-group">
						<label>When are HSE meetings conducted?  </label>
						<input class="form-control" name="hse_meeting" type="text" placeholder="" />
					</div>
					<div class="form-group">
						<label>Evidence of what was discussed? </label>
						<input class="form-control" name="evidence_discussed" type="text" placeholder="" />
					</div>
					<div class="form-group">
						<label>Date of the last meeting held? </label>
						<input class="form-control" name="date_last_meeting" type="date" placeholder="" />
					</div>
					<div class="form-group">
						<label>Other comment  </label>
						<input class="form-control" name="other_comment" type="text" placeholder="" />
					</div>
					
				
				</form>
                
			</div>
			<!-- horizontal Basic Forms End -->

            <!-- horizontal Basic Forms Start -->
			<div class="pd-20 card-box mb-30">
				<div class="clearfix">
					<div class="pull-left">
						<p class="mb-30">Part 2: Insurance (Liability Insurance Certificate)</p>
					</div>
					 
				</div>
				<form id="Insurance" class="Administration_Procedure" >

                    <div class="form-group">
                        <label>Is there evidence of workers compensation for workers?</label>
                        <select class="custom-select2 form-control" name="evidence_workers_compensation" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

					<div class="form-group">
						<label>if yes, when was it paid last?  </label>
						<input class="form-control" name="when_paid_last" type="text" placeholder="" />
					</div>

                    <div class="form-group">
                        <label>Is there evidence of building occupancy insurance? </label>
                        <select class="custom-select2 form-control" name="evidence_building_occupancy_insurance" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

					<div class="form-group">
						<label>if yes, when was it paid last? </label>
						<input class="form-control" name="when_paid_last" type="date" placeholder="" />
					</div>
					<div class="form-group">
						<label>Other comment  </label>
						<input class="form-control" name="other_comment" type="text" placeholder="" />
					</div>
					
				
				</form>
                
			</div>
			<!-- horizontal Basic Forms End -->

            <!-- horizontal Basic Forms Start -->
			<div class="pd-20 card-box mb-30">
				<div class="clearfix">
					<div class="pull-left">
						<p class="mb-30">Part 3: Emergency Procedure</p>
					</div>
					 
				</div>
				<form  id="Emergency_Procedure" class="Administration_Procedure" >
                    <div class="form-group">
                        <label>Is there evidence of a documented emergency response plan? </label>
                        <select class="custom-select2 form-control" name="evidence_documented_emergency_response_plan" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

					<div class="form-group">
						<label>When was the last review date? </label>
						<input class="form-control" name="last_review_date" type="date" placeholder="" />
					</div>

                    <div class="form-group">
                        <label>Has an emergency drill been conducted lately?  </label>
                        <select class="custom-select2 form-control" name="emergency_drill_been_conducted_lately" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

                    <div class="form-group">
						<label>Date of emergency drill? </label>
						<input class="form-control" name="Date_emergency_drill" type="date" placeholder="" />
					</div>


                    <div class="form-group">
                        <label>Is there evidence of appointed fire wardens?</label>
                        <select class="custom-select2 form-control" name="evidence_appointed_fire_wardens" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Is there a registered retainers hospital for the branch?</label>
                        <select class="custom-select2 form-control" name="registered_retainers_hospital_branch" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

					<div class="form-group">
						<label>Name of Hospital </label>
						<input class="form-control" name="Name_Hospital" type="text" placeholder="" />
					</div>
					<div class="form-group">
						<label>Other comment  </label>
						<input class="form-control" name="other_comment" type="text" placeholder="" />
					</div>
					
				
				</form>
                
			</div>
			<!-- horizontal Basic Forms End -->

             <!-- horizontal Basic Forms Start -->
			<div class="pd-20 card-box mb-30">
				<div class="clearfix">
					<div class="pull-left">
						<p class="mb-30">Part 4: Safety Policy</p>
					</div>
					 
				</div>
				<form  id="Safety_Policy" class="Administration_Procedure">
                    <div class="form-group">
                        <label>Is the safety policy sighted around the branch? </label>
                        <select class="custom-select2 form-control" name="safety_policy_sighted_around_branch" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

					<div class="form-group">
						<label>When was the last review date? </label>
						<input class="form-control" name="last_review_date" type="date" placeholder="" />
					</div>

					<div class="form-group">
						<label>Are staff aware of the safety policy? </label>
						<input class="form-control" name="staff_aware_safety_policy" type="text" placeholder="Interview a staff" />
					</div>
                   
					<div class="form-group">
						<label>Other comment  </label>
						<input class="form-control" name="other_comment" type="text" placeholder="" />
					</div>
					
				
				</form>
                
			</div>
			<!-- horizontal Basic Forms End -->

             <!-- horizontal Basic Forms Start -->
			<div class="pd-20 card-box mb-30">
				<div class="clearfix">
					<div class="pull-left">
						<p class="mb-30">Part 5: Incident & Accident</p>
					</div>
					 
				</div>
				<form  id="incident_accident" class="Administration_Procedure">
                    <div class="form-group">
						<label>Request for HSE incident log</label>
						<input class="form-control" name="Request_HSE_incident_log" type="text" placeholder="Go through… " />
					</div>

                    <div class="form-group">
						<label>Last recorded incident </label>
						<input class="form-control" name="Last_recorded_incident" type="date" placeholder="" />
					</div>


                    <div class="form-group">
                        <label>Has there been an occupational incident/accident? </label>
                        <select class="custom-select2 form-control" name="occupational_incident/accident" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

					<div class="form-group">
						<label>Which regulatory agencies are occupational incidents/accidents reported to?  </label>
						<input class="form-control" name="regulatory_agencies_occupational_incidents/accidents_reported_to" type="text" placeholder="" />
					</div>

					<div class="form-group">
						<label>Other comment  </label>
						<input class="form-control" name="other_comment" type="text" placeholder="" />
					</div>
					
				
				</form>
                
			</div>
			<!-- horizontal Basic Forms End -->

             <!-- horizontal Basic Forms Start -->
			<div class="pd-20 card-box mb-30">
				<div class="clearfix">
					<div class="pull-left">
						<p class="mb-30">Part 6: Waste Management</p>
					</div>
					 
				</div>
				<form  id="waste_management" class="Administration_Procedure">
                    <div class="form-group">
                        <label>Is it a Lawma approved contractor that picks your waste?  </label>
                        <select class="custom-select2 form-control" name="Lawma_approved_contractor_picks_waste" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

                    <div class="form-group">
						<label>Name of the Lawma Contractor?  </label>
						<input class="form-control" name="name_lawma_contractor" type="text" placeholder=" " />
					</div>

                    <div class="form-group">
						<label>How frequently is waste picked up?  </label>
						<input class="form-control" name="frequently_waste_picked" type="text" placeholder=" " />
					</div>

                    <div class="form-group">
                        <label>Is waste segregation practiced here?  </label>
                        <select class="custom-select2 form-control" name="waste_segregation_practiced" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Can you sight waste bins around the premises?  </label>
                        <select class="custom-select2 form-control" name="sight_waste_bins_around_premises" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

					<div class="form-group">
						<label>Other comment  </label>
						<input class="form-control" name="other_comment" type="text" placeholder="" />
					</div>
					
				
				</form>
                
			</div>
			<!-- horizontal Basic Forms End -->

            <!-- horizontal Basic Forms Start -->
			<div class="pd-20 card-box mb-30">
				<div class="clearfix">
					<div class="pull-left">
						<p class="mb-30">Part 7: Training</p>
					</div>
					 
				</div>
				<form  id="Training" class="Administration_Procedure">
                    <div class="form-group">
                        <label>Has a safety training been conducted recently?  </label>
                        <select class="custom-select2 form-control" name="safety_training_been_conducted_recently" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

                    <div class="form-group">
						<label>What was the training topic? </label>
						<input class="form-control" name="training_topic" type="text" placeholder=" " />
					</div>

                    <div class="form-group">
                        <label>Was it documented?  </label>
                        <select class="custom-select2 form-control" name="documented" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Did you sight a training attendance or a sample certificate issued?</label>
                        <select class="custom-select2 form-control" name="training attendance" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes, training attendance">Yes, training attendance </option>
                                <option value="Yes, certificate">Yes, certificate</option>
                                <option value="None">None</option>
                                <option value="Both">Both </option>
                        </select>
                    </div>

					<div class="form-group">
						<label>Other comment  </label>
						<input class="form-control" name="other_comment" type="text" placeholder="" />
					</div>
					
				
				</form>
                
			</div>
			<!-- horizontal Basic Forms End -->

            <!-- horizontal Basic Forms Start -->
			<div class="pd-20 card-box mb-30">
				<div class="clearfix">
					<div class="pull-left">
						<p class="mb-30">Part 8: Safe System of work</p>
					</div>
					 
				</div>
				<form  id="safe_system" class="Administration_Procedure">
                    <div class="form-group">
                        <label>Is there an operational safety manual informing on safe practices within the facility? </label>
                        <select class="custom-select2 form-control" name="operational_safety_manual_informing_safe_practices_facility" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Is there an updated safety risk assessment of the facility?  </label>
                        <select class="custom-select2 form-control" name="updated_safety_risk_assessment_facility" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

                    <div class="form-group">
						<label>When was the last review date? </label>
						<input class="form-control" name="last_review_date" type="date" placeholder=" " />
					</div>

                    <div class="form-group">
                        <label>Is the toolbox talk been conducted with facility contractors?  </label>
                        <select class="custom-select2 form-control" name="toolbox_conducted_facility_contractors" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Is toolbox talk documented? </label>
                        <select class="custom-select2 form-control" name="toolbox_talk_documented" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

                    <div class="form-group">
						<label>Date of last toolbox talk?</label>
						<input class="form-control" type="date" name="date_last_toolbox" placeholder=" " />
					</div>

                    <div class="form-group">
                        <label>Are worker's chairs and tables ergonomic friendly? </label>
                        <select class="custom-select2 form-control" name=" worker_chairs_tables_ergonomic_friendly" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes, they are">Yes, they are</option>
                                <option value="No, only chairse">No, only chairs</option>
                                <option value="No, only tables">No, only tables</option>
                                <option value="None ">None  </option>
                                <option value="Some are ">Some are  </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Are workers computer screen excessively bright?   </label>
                        <select class="custom-select2 form-control" name="workers_computer_screen_excessively_bright" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

					<div class="form-group">
						<label>Other comment  </label>
						<input class="form-control" name="other_comment" type="text" placeholder="" />
					</div>
					
				
				</form>
                
			</div>
			<!-- horizontal Basic Forms End -->


             <!-- horizontal Basic Forms Start -->
			<div class="pd-20 card-box mb-30">
				<div class="clearfix">
					<div class="pull-left">
						<p class="mb-30">Part 9: Permit to work</p>
					</div>
					 
				</div>
				<form  id="permit_work" class="Administration_Procedure">
                    <div class="form-group">
                        <label>Is there a permit-to-work process for contractors? </label>
                        <select class="custom-select2 form-control" name="permit_to_work_process_contractor" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Is this process documented?  </label>
                        <select class="custom-select2 form-control" name="process_documented" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

                    <div class="form-group">
						<label>What date was the last permit-to-work issued?</label>
						<input class="form-control" name="date_last_permit_work_issued" type="date" placeholder=" " />
					</div>

				
				</form>
                
			</div>
			<!-- horizontal Basic Forms End -->

            <!-- horizontal Basic Forms Start -->
			<div class="pd-20 card-box mb-30">
				<div class="clearfix">
					<div class="pull-left">
						<p class="mb-30">Part 10: Communication (Safety)</p>
					</div>
					 
				</div>
				<form  id="communication" class="Administration_Procedure">
                    <div class="form-group">
						<label>How is safety communication done within the bank? </label>
						<input class="form-control" name="safety_communication_bank" type="text" placeholder=" " />
					</div>

                    <div class="form-group">
                        <label>Did you sight evidence?</label>
                        <select class="custom-select2 form-control" name="sight_evidence" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

                    <div class="form-group">
						<label>Date of last safety communication post </label>
						<input class="form-control" name=" safety_communication_post" type="date" placeholder=" " />
					</div>

                    <div class="form-group">
                        <label>Was it a monthly or weekly safety tip/digest? </label>
                        <select class="custom-select2 form-control" name="monthly_weekly_safety_tip/digest" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="A monthly tip/digest">A monthly tip/digest</option>
                                <option value="A weekly tip/digest">A weekly tip/digest</option>
                                <option value="None">None</option>
                        </select>
                    </div>

                    <div class="form-group">
						<label>Other comment </label>
						<input class="form-control" name="other_comment" type="text" placeholder=" " />
					</div>

				
				</form>
                
			</div>
			<!-- horizontal Basic Forms End -->

             <!-- horizontal Basic Forms Start -->
			<div class="pd-20 card-box mb-30">
				<div class="clearfix">
					<div class="pull-left">
						<p class="mb-30">Part 11: Contractors Management</p>
					</div>
					 
				</div>
				<form  id="contractors_management" class="Administration_Procedure">
                    <div class="form-group">
                        <label>Is there a documented contractor safety policy in place? </label>
                        <select class="custom-select2 form-control" name="documented_contractor_safety_policy_place" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Did you sight any contractor using adequate PPE during the audit?</label>
                        <select class="custom-select2 form-control" name=" sight_contractor_adequate_PPE_audit" style="width: 100%; height: 38px">
                                <option value="">Select</option>
                                <option value="Yes I didt">Yes I did</option>
                                <option value="No I did not">No I did not</option>
                                <option value="Few wore complete PPE">Few wore complete PPE</option>
                                <option value="None wore PPE">None wore PPE</option>
                        </select>
                    </div>

                    <div class="form-group">
						<label>Are cleaners trained to conduct first aid? </label>
						<input class="form-control" type="text" name="cleaners_trained_conduct_first_aid" placeholder="Interview a cleaner" />
					</div>

                    <div class="form-group">
						<label>Other comment </label>
						<input class="form-control" name="other_comment" type="text" placeholder=" " />
					</div>

                    <div class="button">
                        <a href="introduction.html"><button type="button" class="btn btn-primary">Back</button></a>
						<a href="section2.html" onclick="submit()"><button type="button" class="btn btn-primary">Next</button></a>

					</div>

				</form>
                
			</div>
			<!-- horizontal Basic Forms End -->


            

			

			


			<div class="footer-wrap pd-20 mb-20 card-box">
				Auditor | copyright - 2023
				<a href="https://github.com/dropways" target="_blank">dech</a>
			</div>
		</div>
	</div>

	<!-- js -->
	<script src="vendors/scripts/core.js"></script>
	<script src="vendors/scripts/script.min.js"></script>
	<script src="vendors/scripts/process.js"></script>
	<script src="vendors/scripts/layout-settings.js"></script>
	<script src="src/plugins/apexcharts/apexcharts.min.js"></script>
	<script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
	<script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
	<script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
	<script src="src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
	<script src="vendors/scripts/dashboard3.js"></script>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS" height="0" width="0"
			style="display: none; visibility: hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	<script src="form-request.js"></script>
	<script>
		function submit() {
			getFormPayload().then((re) => {
				save(re);
			});
		}

		window.addEventListener("load",function () {
			setFormPayload();
		})
	</script>
</body>

</html>