<%- include('../plastics/layout/include.ejs') %>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">PLASTICS SORTED BY CAPS</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">PET PLASTIC DATA</li>
                </ol>


                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Database Table
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>DATE</th>
                                    <th>SORTED PLASTIC WEIGHT</th>
                                    <th>CAPS</th>
                                    <th>UNIT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% sorting.forEach((e) => { %>
                                    <tr>
                                        <td><%= e.id %></td>
                                        <td><%= e.id %></td>
                                        <td>------------</td>
                                        <td>------------</td>
                                        <td>------------</td>
                                    <tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../plastics/layout/footer.ejs') %>