<%- include('../plastics/layout/include.ejs') %>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">TOTAL PLASTIC RETRIEVED PER LOCATION</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">PET PLASTIC DATA</li>
                        </ol>

                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Database Table
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>DATE</th>
                                            <th>ZONE</th>
                                            <th>LOCATION</th>
                                            <th>TOTAL SIZE</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>DATE</th>
                                            <th>ZONE</th>
                                            <th>LOCATION</th>
                                            <th>SIZE</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>                                      
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                        <tr>
                                            <td>12</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                        <tr>
                                            <td>13</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                        <tr>
                                            <td>14</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                        <tr>
                                            <td>15</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                        <tr>
                                            <td>16</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                        <tr>
                                            <td>17</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                        <tr>
                                            <td>18</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                        <tr>
                                            <td>19</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                        <tr>
                                            <td>20</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                            <td>------------</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
