<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   >

    <!-- Title Page-->
    <title>DATASET FOR SALOON</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/main.css" rel="stylesheet" media="all">
    
</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">DATASET FOR SALOON</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-row m-b-55">
                            <div class="name">Name</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="Saloon Name">
                                            <label class="label--desc">Saloon Name </label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="Saloon Owner">
                                            <label class="label--desc">Saloon Owner</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Owner Phone Number</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="number" name="number">
                                </div>
                            </div>
                        </div>
                         <!-- <div class="form-row m-b-55">
                            <div class="name">Phone</div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-3">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="area_code">
                                            <label class="label--desc">Area Code</label>
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="phone">
                                            <label class="label--desc">Phone Number</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-row">
                            <div class="name">Address</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="Address">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="email" name="email">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Saloon Type </div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="subject">
                                            <option disabled="disabled" selected="selected">Choose option</option>
                                            <option>Male </option>
                                            <option>Female </option>
                                            <option>Unisex </option> 
                                        </select>
                                    <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-row">
                            <div class="name">Services Offered </div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        
                                        <select name="subject">
                                            <option disabled="disabled" selected="selected">Choose option</option>
                                            <option>Hair Styling </option>
                                            <option>Manicure </option>
                                            <option>Pedicure </option>
                                            <option>Lash  </option>
                                            <option>Brows </option>
                                            <option>Micro Blading </option>
                                            <option>Make-up  </option>
                                            <option>Spa </option> 
                                            <option>Hair Cut </option>
                                            <option>All of the above</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-row">
                            <div class="name"> Services Offered </div>
                            <div class="value">
                               <div class="optionSaloon">
                                    <div class="boxSaloon">
                                        <input type="checkbox"> <span>Hair Styling</span>
                                        <input type="checkbox"> <span>Manicure</span>
                                        <input type="checkbox"> <span>Pedicure</span>
                                    </div> 
                               </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">  </div>
                            <div class="value">
                               <div class="optionSaloon">                                
                                    <div class="boxSaloon">
                                        <input type="checkbox"> <span>Lash</span>
                                        <input type="checkbox"> <span>Brows</span>
                                        <input type="checkbox"> <span>Micro Blading</span>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">  </div>
                            <div class="value">
                               <div class="optionSaloon">                                
                                    <div class="boxSaloon">
                                        <input type="checkbox"> <span>Make-up</span>
                                        <input type="checkbox"> <span>Spa</span>
                                        <input type="checkbox"> <span>Hair Cut</span> 
                                    </div>
                               </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">  </div>
                            <div class="value">
                               <div class="optionSaloon">                                
                                    <div class="boxSaloon">  
                                        <input type="checkbox"> <span>Hair Locks (Dreads)</span>
                                        <input type="checkbox"> <span>Hair Cut</span>
                                        <input type="checkbox"> <span>All of the above</span>
                                    </div>
                               </div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="name">Opening Hours </div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="time" name="Opening_Hours">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Closing Hours  </div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="time" name="Closing_Hours ">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Operational Days</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="day" name="Operational_Days ">
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">No. of Staff </div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="subject">
                                            <option disabled="disabled" selected="selected">Choose option</option>
                                            <option>1 </option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10 </option>
                                            <option>11 </option>
                                            <option>12 </option>
                                            <option>13 </option>
                                            <option>14 </option>
                                            <option>15 </option>
                                            <option>16 </option>
                                            <option>17 </option>
                                            <option>18 </option>
                                            <option>19 </option>
                                            <option>20 </option>
                                            <option>21 </option>
                                            <option>22 </option>
                                            <option>23 </option>
                                            <option>24 </option>
                                            <option>25 </option>
                                            <option>25 </option>
                                            <option>26 </option>
                                            <option>27 </option>
                                            <option>28 </option>
                                            <option>29 </option>
                                            <option>30 </option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Brand of Attachment Used </div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="day" name="Brand_Attachment_Used">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Brand of Weavon Used</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="day" name="Brand_Weavon_Used">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Brand of Hair Relaxer Used</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="day" name="Brand_Relaxer_Used">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Brand of Clipper Used</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="day" name="Brand_Clipper_Used ">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Brand of Hair Equipment Used </div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="day" name="Brand_Equipment_Used">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Is There an Air Conditoner in the saloon?</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="subject">
                                            <option disabled="disabled" selected="selected">Choose option</option>
                                            <option>Yes </option>
                                            <option>No</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Make of Air Conditioner </div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="Make_Ai_Conditioner ">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Horsepower of Airconditioner</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="Horsepower_Airconditioner ">
                                </div>
                            </div>
                        </div>

                         <hr class="mb-4"> <br>
                         <center>
                        <div>
                            <button class="btn btn--radius-2 btn--green" type="submit">Submit</button>
                           <a href="table.html" target="_blank"> <button class="btn btn--radius-2 btn--blue" type="submit">Table</button></a>
                        </div>
                    </center>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->