<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>DATASET FOR SALOON</title>

</head>
<body class="bg-light">

    <div class="container">    
        <div class="row">
        <div class="table-responsive">  
                      
                <table class="table table-hover mt-5 table-bordered">
                    <thead class="thead-dark text-center">
                    <tr>
                        <th style="font-size: 11px;"  scope="col">#</th>
                        <th style="font-size: 11px;"  class="col-sm-1">Date</th>
                        <th style="font-size: 11px;"  scope="col">Saloon Name</th>
                        <th style="font-size: 11px;"  scope="col">Saloon Owner</th>
                        <th style="font-size: 11px;"  scope="col">Owner Phone Number</th>
                        <th style="font-size: 11px;"  scope="col">Address</th>
                        <th style="font-size: 11px;"  scope="col">Email</th>
                        <th style="font-size: 11px;"  scope="col">Saloon Type</th>
                        <th style="font-size: 11px;"  scope="col">Services Offered</th>
                        <th style="font-size: 11px;"  scope="col">Opening Hours</th>
                        <th style="font-size: 11px;"  scope="col">Closing Hours</th>
                        <th style="font-size: 11px;"  scope="col">Operational Days</th>
                        <th style="font-size: 11px;"  scope="col">No. of Staff</th>
                        <th style="font-size: 11px;"  scope="col">Brand of Attachment Used</th>
                        <th style="font-size: 11px;"  scope="col">Brand of Weavon Used</th>
                        <th style="font-size: 11px;"  scope="col">Brand of Hair Relaxer Used</th>
                        <th style="font-size: 11px;"  scope="col">Brand of Clipper Used</th>
                        <th style="font-size: 11px;"  scope="col">Brand of Hair Equipment Used</th>
                        <th style="font-size: 11px;"  scope="col">Is There an Air Conditoner in the saloon?</th>
                        <th style="font-size: 11px;"  scope="col">Make of Air Conditioner</th>
                        <th style="font-size: 11px;"  scope="col">Horsepower of Airconditioner</th> 
                        <th style="font-size: 11px;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th style="font-size: 11px;"  scope="row">1</th>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>                   
                                <button class="btn btn-success btn-sm btn-block" >Edit</button>
                                <button class="btn btn-danger btn-sm btn-block">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <th style="font-size: 11px;"  scope="row">2</th>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>
                            <button class="btn btn-success btn-sm btn-block">Edit</button>
                            <button class="btn btn-danger btn-sm btn-block">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <th style="font-size: 11px;"  scope="row">3</th>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>---------</td>
                        <td>
                            <button class="btn btn-success btn-sm btn-block" >Edit</button>
                            <button class="btn btn-danger btn-sm btn-block">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


  
</body>
</html>